
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
}

button{
    background-color: #0275d8;
    color: white;
    font-weight: bold;
    padding: 0.75em 2.5em;
    border-radius: 0.5em;
    border: none;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

ul {
    list-style-type: none;
  
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
  
  }

a{
    text-decoration: none;
}

article h2{
    text-align: center;
    margin-bottom: 2em;;
}

.centered{
    padding-left: 15%;
    padding-right: 15%;
}
.p75-tb{
    padding-top: 75px;
    padding-bottom: 75px;
}

.p25t-75b{
    padding-top: 25px;
    padding-bottom: 75px;
}

.logo{
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
}

.hero{
    display: flex;
    gap: 2em;
}

.hero h1{
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;
    margin-bottom:0;
    margin-top: 0;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 45%;

}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    margin-top:2px;
}
.dark-background{
    background-color: #1F2937;
}

.light-background{
    background-color: #E5E7EB;
}

.image{
    
    flex-basis: 300px;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow:1;
}

.quote{
    display: flex;
    flex-direction: column;
}
.quote-text{
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    margin: 0  2em;

}
.quote-author{
    font-weight: bold;
    align-self: flex-end;
    padding-right: 2em;
    margin-right: 2em;
}

.call{
    display: flex;
    gap: 1.5em;
    justify-content: space-around;
    background-color: #0275d8;
    padding: 3em 5em;
    border-radius: 0.75em;
}
.call-text{
    color: #F9FAF8;
}
.call-text h2{
    margin-bottom: 5px;
}
.call button{
    border-color: white;
    border-style: solid;
    border-width: 2px;
    margin:0;
    flex-shrink: 0;
    align-self: center;
}

.cards-container{
    display: flex;
    gap:2em;
}

.image-card{
    border-radius: 1em;
    border-style: solid;
    border-color: #0275d8;
    border-width: 3px;
    min-height: 150px;
}

.card p {
    text-align: center;
}